[Unit]
Description=Modular Linux Installer
After=network-online.target display-manager.service graphical.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/modular/installer/main.py
Restart=no

[Install]
WantedBy=graphical.target
